<h1><%= @cuisine.name %></h1>

<% if @cuisine.recipes.empty? %>
  <p>Nenhuma receita encontrada para este tipo de cozinha.</p>
<% end %>
<% @cuisine.recipes.each do |recipe| %>
  <%= render partial: 'recipes/recipe_short', locals: {recipe: recipe} %>
<% end %>
